.app {
  width: 100vw;
  height: 100vh;

  display: flex;

  overflow: hidden;

  background: #ffffff;
}

.main {
  flex: 1;
  min-width: 0;

  height: 100vh;

  overflow: auto;

  background: #ffffff;
}
